.idea/
*.iml
.vscode/
venv/

**/__pycache__/

dist/
*.egg-info

*.session
*.session-journal
data/
config.yaml

guide/site
guide/.cache

.direnv/
.envrc

docs/.vitepress/cache/
docs/.vitepress/dist/
*.mts.timestamp-*
node_modules
